.service {
  min-height: 16rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.75rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  isolation: isolate;
}

.service::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: hsl(270, 3%, 11%, 0.45);
  transition: all 0.4s ease;
  z-index: -1;
}

.service:hover::before {
  background-color: hsl(1, 73%, 66%, 0.5);
}

.service__title {
  letter-spacing: var(--letter-spacing-100);
}

.service__text {
  letter-spacing: var(--letter-spacing-200);
}

.service__link-symbol {
  color: var(--clr-peach);
  margin-left: 0.5rem;
}

.service--web {
  background-image: url("../../assets/home/mobile/image-web-design.jpg");
}

.service--app {
  background-image: url("../../assets/home/mobile/image-app-design.jpg");
}

.service--graphic {
  background-image: url("../../assets/home/mobile/image-graphic-design.jpg");
}

@media (min-width: 32em) {
  .service--web {
    background-image: url("../../assets/home/tablet/image-web-design.jpg");
  }

  .service--app {
    background-image: url("../../assets/home/tablet/image-app-design.jpg");
  }

  .service--graphic {
    background-image: url("../../assets/home/tablet/image-graphic-design.jpg");
  }
}

@media (min-width: 48em) {
  .service {
    min-height: 20rem;
  }

  .service--web {
    background-image: url("../../assets/home/desktop/image-web-design-large.jpg");
  }

  .service--app {
    background-image: url("../../assets/home/desktop/image-app-design.jpg");
  }

  .service--graphic {
    background-image: url("../../assets/home/desktop/image-graphic-design.jpg");
  }
}
