.about {
  border-radius: var(--border-radius-100);
  overflow: hidden;
  padding-inline: 0;
}

.about__content {
  padding: var(--spacing-400);
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 47.99em) {
  .about__content {
    text-align: center;
  }
}

@media (min-width: 48em) {
  .about--hero,
  .about--deal {
    grid-template-columns: 55fr 45fr;
    grid-template-areas: "content picture";
  }

  .about--talent {
    grid-template-columns: 45fr 55fr;
  }

  .about--hero > picture,
  .about--deal > picture {
    grid-area: picture;
  }

  .about--hero > .about__content,
  .about--deal > .about__content {
    grid-area: content;
  }

  .about__content {
    place-self: center;
  }
}
