.about {
  padding-inline: 0 !important;
  gap: 0 !important;
  border-radius: var(--border-radius-100);
  overflow: hidden;
}

.about__text-content {
  padding: 4rem clamp(1rem, 4vh, 4rem);
  text-align: center;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__image-wrapper {
  min-height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-inline: 0;
}

.about__image-wrapper--hero {
  background-image: url("../../assets/about/mobile/image-about-hero.jpg");
}

.about__image-wrapper--talent {
  background-image: url("../../assets/about/mobile/image-world-class-talent.jpg");
}

.about__image-wrapper--deal {
  background-image: url("../../assets/about/mobile/image-real-deal.jpg");
}

@media (min-width: 32em) {
  .about__image-wrapper--hero {
    background-image: url("../../assets/about/tablet/image-about-hero.jpg");
  }

  .about__image-wrapper--talent {
    background-image: url("../../assets/about/tablet/image-world-class-talent.jpg");
  }

  .about__image-wrapper--deal {
    background-image: url("../../assets/about/tablet/image-real-deal.jpg");
  }
}

@media (min-width: 48em) {
  .about__image-wrapper--hero {
    min-height: 30rem;
    background-image: url("../../assets/about/desktop/image-about-hero.jpg");
    grid-column-start: 2;
  }

  .about__image-wrapper--talent {
    background-image: url("../../assets/about/desktop/image-world-class-talent.jpg");
    min-height: 40rem;
  }

  .about__image-wrapper--deal {
    background-image: url("../../assets/about/desktop/image-real-deal.jpg");
    min-height: 40rem;
    grid-column-start: 2;
  }

  .about {
    padding-inline: 0 !important;
  }

  .about--hero {
    grid-template-columns: 60fr 40fr;
  }

  .about--talent {
    grid-template-columns: 45fr 55fr;
  }

  .about--deal {
    grid-template-columns: 55fr 45fr;
  }

  .about__text-content {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .about-section .about__text-content {
    grid-row-start: 1;
  }

  .deal-section .about__text-content {
    grid-column-start: 1;
    grid-row-start: 1;
  }
}
