.design-hero {
  min-height: 18rem;
  border-radius: var(--border-radius-100);
  background-repeat: no-repeat;
  background-image: url("../../assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg");
  background-position: right bottom;
}

@media (min-width: 32em) {
  .design-hero {
    background-image: url("../../assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-position: right center;
  }
}
