.contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-radius: var(--border-radius-1);
}
.contact__text-content {
  text-align: center;
}
.contact__input-wrapper {
  position: relative;
}
.contact__form-input {
  display: block;
  background: transparent;
  border: none;
  color: var(--clr-white);
  padding: 1rem 0.75rem 0.5rem 0.75rem;
  border-bottom: 1px solid var(--clr-white);
  width: 100%;
}
.contact__form-input:focus {
  outline: none;
  border-bottom: 2px solid var(--clr-white);
}
.contact__error-wrapper {
  position: absolute;
  top: 65%;
  right: 0;
  transform: translateY(-65%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.show-error .contact__error-wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.contact__error-message {
  font-size: 0.75rem;
}
.contact__submit-btn {
  justify-self: center;
}
@media (min-width: 32em) {
  .contact {
    padding-inline: 4rem !important;
  }
  .contact__text-content {
    text-align: left;
  }
  .contact__submit-btn {
    justify-self: end;
  }
}
@media (min-width: 48em) {
  .contact__text-content {
    padding-right: 4rem;
  }
}

textarea {
  resize: none;
}

::placeholder {
  color: var(--clr-white);
  opacity: 0.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill {
  -webkit-background-clip: text;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--clr-white) !important;
}
