.hero {
  padding-inline: var(--spacing-300) !important;
  background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.hero__image-wrapper {
  padding-block: var(--spacing-300);
}

/* Hero Section */
@media (max-width: 47.99em) {
  .hero {
    padding-top: 3rem;
    text-align: center;
    overflow: hidden;
  }

  .hero__link {
    justify-self: center;
  }

  .hero__image-wrapper {
    position: relative;
    min-height: 24rem;
  }

  .hero__image {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (min-width: 48em) {
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero__link {
    justify-self: left;
  }
}

/* Service Section */
@media (min-width: 48em) {
  .service__container {
    grid-template-areas:
      "first second"
      "first third";
  }

  .service__container .service:nth-child(1) {
    grid-area: first;
  }

  .service__container .service:nth-child(2) {
    grid-area: second;
  }

  .service__container .service:nth-child(3) {
    grid-area: third;
  }
}
