.hero {
  overflow: hidden;
  gap: 3rem !important;
  border-radius: var(--border-radius-100);
  position: relative;
  padding-top: 3rem;
  background-image: url("../../assets/home/desktop/bg-pattern-hero-home.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.hero__description {
  padding-inline: clamp(1rem, 4vw, 4rem);
  text-align: center;
  display: grid;
  place-items: center;
}

.hero__image-wrapper {
  min-height: 24rem;
  position: relative;
}

.hero__image {
  position: absolute;
  top: -45%;
  left: 50%;
  transform: translateX(-50%);
  object-position: center top;
}

.hero__btn {
  align-self: center;
  z-index: 1;
}

@media (min-width: 32em) {
  .hero {
    background-position: right center;
  }
}

@media (min-width: 56em) {
  .hero {
    min-height: 40rem;
    gap: 1rem;
    place-items: center;
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
  }

  .hero__description {
    text-align: left;
    place-items: start;
  }

  .hero__image {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__btn {
    align-self: flex-start;
  }
}

@media (min-width: 48em) {
  .service__container {
    grid-template-areas:
      "first second"
      "first third";
  }

  .service__container .service:nth-child(1) {
    grid-area: first;
  }

  .service__container .service:nth-child(2) {
    grid-area: second;
  }

  .service__container .service:nth-child(3) {
    grid-area: third;
  }
}
