.about {
  padding-inline: 0 !important;
  gap: 0 !important;
  border-radius: var(--border-radius-container);
  overflow: hidden;

  &__text-content {
    padding: 4rem 1rem;
    text-align: center
  }

  &__image-wrapper {
    min-height: 20rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-inline: 0;
  }

  .hero-section &__image-wrapper {
    background-image: url('../../images/about/mobile/image-about-hero.jpg');
  }

  .talent-section &__image-wrapper {
    background-image: url('../../images/about/mobile/image-world-class-talent.jpg');
  }

  .deal-section &__image-wrapper {
    background-image: url('../../images/about/mobile/image-real-deal.jpg');
  }

  @media (min-width: 35em) {
    .hero-section &__image-wrapper {
      background-image: url('../../images/about/tablet/image-about-hero.jpg');
    }

    .talent-section &__image-wrapper {
      background-image: url('../../images/about/tablet/image-world-class-talent.jpg');
    }

    .deal-section &__image-wrapper {
      background-image: url('../../images/about/tablet/image-real-deal.jpg');
    }
  }

  @media (min-width: 45em) {
    .hero-section &__image-wrapper {
      min-height: 30rem;
      background-image: url('../../images/about/desktop/image-about-hero.jpg');
      grid-column-start: 2;
    }

    .talent-section &__image-wrapper {
      background-image: url('../../images/about/desktop/image-world-class-talent.jpg');
      min-height: 40rem;
    }

    .deal-section &__image-wrapper {
      background-image: url('../../images/about/desktop/image-real-deal.jpg');
      min-height: 40rem;
      grid-column-start: 2;
    }

    .hero-section & {
      padding-inline: 0 !important;
      grid-template-columns: 55fr 45fr;
    }

    .talent-section & {
      padding-inline: 0 !important;
      grid-template-columns: 45fr 55fr;
    }

    .deal-section & {
      grid-template-columns: 55fr 45fr;
    }

    &__text-content {
      padding-inline: 2rem;
      text-align: left !important;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .hero-section &__text-content {
      grid-row-start: 1;
    }

    .deal-section &__text-content {
      grid-column-start: 1;
      grid-row-start: 1;
    }

  }
}

@media (min-width: 65em) {
  .location-demo-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 65em) {
  .about__text-content {
    padding-inline: 4rem;
  }
}

/* Location grid*/
.location .text-box {
  padding: 2rem 2rem;
}

.location .image-container {
  position: relative;
}

.location .image-container::before {
  content: '';
  position: absolute;
  background-image: url('../../images/shared/desktop/bg-pattern-small-circle.svg');
  inset: 0;
}

.see-location-button {
  align-self: center;
  margin-top: 1rem;
}