.card {
  border-radius: 0.75rem;
  transition: all 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

.card span {
  display: block;
}

.card__image-wrapper {
  overflow: hidden;
}

.card__link {
  text-decoration: none;
  display: block;
}

.card:hover {
  background-color: var(--peach) !important;
}

.card:hover .card__image {
  transform: scale(1.03);
}

.card:hover .card__heading {
  color: var(--white);
}

.card:hover .card__text {
  color: var(--white);
}

.card__image {
  transition: all 0.4s ease;
}

.card__text-content {
  padding: 2.125rem;
}

@media (min-width: 32em) {
  .card__link {
    display: flex;
    align-items: center;
  }
}

@media (min-width: 48em) {
  .card__link {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
