.header {
  padding-block: var(--spacing-300);
  position: relative;
  z-index: 99;
}

.header__link {
  max-width: 10rem;
}

.header__nav-link {
  letter-spacing: var(--letter-spacing-100);
  transition: all 0.3s ease;
  text-transform: uppercase;
}

@media (max-width: 47.99em) {
  .header__nav-list {
    background-color: var(--clr-black);
    padding-left: 1.5rem;
    position: absolute;
    height: 45vh;
    top: 100%;
    left: 0;
    right: 0;
    flex-direction: column;
    justify-content: center;

    /* Hiding navigation  */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  .header__nav-list[data-visible="true"] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

  .header__nav-link {
    color: var(--clr-white);
  }

  .header__mobile-nav-toggle {
    display: block;
    width: 2rem;
    height: 1.5rem;
    border: none;
    background: transparent url("../../assets/shared/mobile/icon-hamburger.svg")
      no-repeat center;
    cursor: pointer;
    z-index: 999;
  }

  .header__mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("../../assets/shared/mobile/icon-close.svg");
  }
}

@media (min-width: 48em) {
  .header__nav-link {
    color: hsl(270, 3%, 11%, 0.8);
  }

  .header__nav-link:hover {
    color: var(--clr-black);
    border-bottom: 1px solid var(--clr-black);
  }

  .header__mobile-nav-toggle {
    display: none;
  }
}
