/* Features Section */
.feature {
  gap: 1.25rem;
}

.feature__image-wrapper {
  position: relative;
}

.feature__image-wrapper::before {
  content: "";
  position: absolute;
  background-image: url("../../assets/shared/desktop/bg-pattern-small-circle.svg");
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.feature__image {
  margin: 0 auto;
}

@media (min-width: 32em) {
  .feature {
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }
}

@media (min-width: 48em) {
  .feature {
    flex-direction: column;
    grid-template-columns: 1fr;
  }
}
