.footer-section {
  position: relative;
  padding: var(--spacing-500);
}

.footer {
  display: grid;
  gap: 2rem;
  place-items: center;
  text-align: center;
  position: relative;
}

.footer__logo-link {
  max-width: 10rem;
}

.footer__nav-link {
  color: var(--clr-white);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-100);
  font-size: 0.875rem;
  transition: all 0.3s ease;
}

.footer__nav-link:hover {
  color: var(--clr-peach);
}

.footer__contact-link {
  display: block;
  color: inherit;
}

.footer__social-logo {
  font-size: 1.75rem;
  color: var(--clr-white);
  transition: all 0.3s ease;
}

.footer__social-logo:hover {
  color: var(--clr-peach);
}

@media (min-width: 48em) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    row-gap: 5rem;
    text-align: left;
    place-items: start;
  }

  .footer::after {
    grid-column: 1/-1;
    grid-row-start: 2;
    content: "";
    position: relative;
    height: 0.0625rem;
    background-color: var(--clr-white);
    opacity: 0.15;
    width: 100%;
  }

  .footer__logo-link {
    max-width: 12rem;
    justify-content: flex-start !important;
  }

  .footer__nav {
    grid-column: span 2;
    justify-self: end;
  }

  .footer__nav-list {
    flex-direction: row !important;
    gap: 3rem !important;
  }

  .footer__social-logos-wrapper {
    place-self: center;
  }
}
