.footer {
  padding-block: var(--spacing-500);
}

.footer__link {
  max-width: 12.5rem;
}

.footer__nav-link {
  letter-spacing: var(--letter-spacing-100);
  transition: all 0.3s ease;
}

.footer__nav-link:hover {
  color: var(--clr-peach);
}

.footer__contact-link {
  display: block;
  color: var(--clr-grey);
  transition: all 0.3s ease;
}

.footer__contact-link:hover {
  color: var(--clr-white);
}

.footer__social-link:hover {
  transition: all 0.3s ease;
  color: var(--clr-peach);
}

@media (max-width: 47.99em) {
  .footer {
    text-align: center;
    place-items: center;
  }

  .footer__nav-list {
    flex-direction: column;
  }

  .footer__link {
    justify-self: center;
  }
}

@media (min-width: 48em) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    row-gap: var(--spacing-500) !important;
  }

  .footer > * {
    /*border: 3px solid red;*/
  }

  .footer__nav {
    grid-column: span 2;
    justify-self: end;
  }

  .footer__social-links {
    justify-self: end;
  }
}
