.main-header {
  padding: 1.5rem 0;
  position: relative;
}

.logo {
  max-width: 60% !important;
}

.main-nav {
  background-color: var(--black);
  position: absolute;;
  height: 45vh;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 99;
  /* Hiding navigation */
  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;
}

/* When the navigation is open */
.navigation-open .main-nav {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  pointer-events: auto;
}

.main-nav-list {
  list-style: none;
  gap: 1rem;
  flex-direction: column;
}

.main-nav-link {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

.overlay {
  position: absolute;
  display: block;
  inset: 0;
  background-color: hsl(var(--rawBlack), 0.4);
  z-index:2
}

/* Showing overlay when user clicks on mobile navigation button */
.overlay.hidden {
  display: none;
}

/* Mobile navigation */
.mobile-navigation-button {
  background: transparent;
  cursor: pointer;
  width: 1.8rem;
  height: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.35rem;
  position: relative;
  z-index: 999;
}

.layer1,
.layer2,
.layer3 {
  width: 100%;
  height: 0.15rem;
  background-color: var(--black);
  transition: all 1s ease;
  border-radius: 0.25rem;
}

/* Mobile Navigation animation*/
.mobile-navigation-button.active .layer1 {
  animation: slide-down 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer1 {
  animation: slide-down-reverse 0.35s ease-in-out forwards;
}

@keyframes slide-down {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }

  50% {
    transform: translate(0, 0.5rem) rotate(0deg);
  }

  100% {
    transform: translate(0, 0.5rem) rotate(45deg);
  }
}

@keyframes slide-down-reverse {
  0% {
    transform: translate(0, 0.5rem) rotate(45deg);
  }

  50% {
    transform: translate(0, 0.5rem) rotate(0deg);
  }

  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.mobile-navigation-button.active .layer2 {
  animation: fade-away 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer2 {
  animation: fade-away-reverse 0.35s ease-in-out forwards;
}

@keyframes fade-away {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes fade-away-reverse {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.mobile-navigation-button.active .layer3 {
  animation: slide-up 0.35s ease-in-out forwards;
}

.mobile-navigation-button .layer3 {
  animation: slide-up-reverse 0.35s ease-in-out forwards;
}

@keyframes slide-up {
  0% {
    transform: translate(0rem, 0rem) rotate(0deg);
  }

  50% {
    transform: translate(0rem, -0.5rem) rotate(0deg);
  }

  100% {
    transform: translate(0rem, -0.5rem) rotate(135deg);
  }
}

@keyframes slide-up-reverse {
  0% {
    transform: translate(0rem, -0.5rem) rotate(135deg);
  }

  50% {
    transform: translate(0rem, -0.5rem) rotate(0deg);
  }

  100% {
    transform: translate(0rem, 0rem) rotate(0deg);
  }
}

@media (min-width: 30em) {
  .logo {
    max-width: 50% !important;
  }
}


@media (min-width: 45em) {
  .main-header {
    padding: 2.5rem 0;
    position: relative;
  }


  .logo-container {
    max-width: 40%;
  }

  /* Hiding mobile navigation */
  .mobile-navigation {
    display: none;
  }

  /* Changing position of main nav*/
  .main-nav {
    background-color: var(--white);
    position: static;
    height: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;

    /* Showing navigation */
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }

  .main-nav-link {
    color: var(--black);
  }

  .main-nav-link:hover {
    border-color: var(--black);
  }

  .main-nav-list {
    gap: 2rem;
    flex-direction: row;
  }
}
