.header-section {
  padding: 1.5rem 0;
  position: relative;
}

@media (min-width: 48em) {
  .header-section {
    padding: 2.5rem 0;
  }
}

.header {
  &__logo-wrapper {
    max-width: 10rem;
  }

  &__nav-list {
    position: absolute;
    background-color: var(--black);
    list-style: none;
    gap: 1rem;
    flex-direction: column;
    height: 45vh;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 1.5rem;
    transition: all 0.4s ease;
    z-index: 99;
    justify-content: center;

    // Hiding navigation
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%);
  }

  &__nav-list[data-visible='true'] {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  &__nav-link {
    font-size: var(--font-size-300);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-1);
    color: var(--white);
    transition: all 0.3s ease;
    text-decoration: none;
    border-bottom: 1px solid transparent;
  }

  &__mobile-nav-toggle {
    display: block;
    border: none;
    width: 2rem;
    height: 1.5rem;
    background: transparent url('/images/shared/mobile/icon-hamburger.svg') no-repeat center;
    cursor: pointer;
    z-index: 999;
  }

  &__mobile-nav-toggle[aria-expanded='true'] {
    background-image: url('/images/shared/mobile/icon-close.svg');
  }

  @media (min-width: 48em) {
    &__nav-list {
      background-color: var(--white);
      position: static;
      height: 100%;
      padding-left: 0;
      gap: 2rem;
      flex-direction: row;

    //  Showing navigation
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translateX(0);
    }

    &__nav-link {
      color: hsl(var(--raw-black), 0.8);
    }

    &__nav-link:hover {
      color: var(--black);
      border-color: var(--black);
    }

    // Hiding mobile navigation button for desktops
    &__mobile-nav-toggle {
      display: none;
    }
  }
}

.overlay {
  position: absolute;
  display: block;
  inset: 0;
  background-color: hsl(var(--raw-black), 0.4);
  z-index: 2;

  &.hidden {
    display: none;
  }
}






