.header-section {
  padding: 1.5rem 0;
  position: relative;
}

.header__logo {
  max-width: 60% !important;
}

.main-nav {
  background-color: var(--black);
  position: absolute;;
  height: 45vh;
  top: 100%;
  left: 0;
  right: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 99;

  opacity: 0;
  transform: translateX(100%);
  visibility: hidden;

  .navigation-open & {
    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;
  }

  &__list {
    list-style: none;
    gap: 1rem;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s ease;
    border-bottom: 1px solid transparent;
  }
}

.mobile-navigation {
  display: block;

  &__open-btn,
  &__close-btn {
    border: none;
    cursor: pointer;
    background: transparent;
    position: relative;
    z-index: 999;
  }

  &__open-btn {
    display: block;
  }

  &__close-btn {
    display: none;
  }

  .navigation-open &__open-btn {
    display: none;
  }

  .navigation-open &__close-btn {
    display: block;
  }
}

.overlay {
  position: absolute;
  display: block;
  inset: 0;
  background-color: hsl(var(--rawBlack), 0.4);
  z-index: 2;

  &.hidden {
    display: none;
  }
}

@media (min-width: 30em) {
  .header__logo {
    max-width: 50% !important;
  }
}

@media (min-width: 45em) {
  .header-section {
    padding: 2.5rem 0;
    position: relative;
  }

  .header__logo-container {
    max-width: 40%;
  }

  .mobile-navigation {
    display: none;
  }

  .main-nav {
    background-color: var(--white);
    position: static;
    height: 100%;
    padding-left: 0;
    display: flex;
    align-items: center;

    opacity: 1;
    transform: translateX(0);
    visibility: visible;
    pointer-events: auto;

    &__link {
      color: var(--black);
    }

    &__link:hover {
      border-color: var(--black);
    }

    &__list {
      gap: 2rem;
      flex-direction: row;
    }
  }
}





